$maw: 1280px;
$header-height: 4rem;
$pad: .5 * $header-height;
$h1-margin: 1.2rem;

$break-sm: 576px;
$break-lg: 992px;

$default: #13441D;

$dark: #14471E;
$dark2: #68904D;

$light: #C8D2D1;
$light2: #D8E6DF;
$background: #93A3B1;

$accent: #F07400;
$accent2: #FEC65D;
$accent-dark: #612F00;