$maw: 1280px;
$header-height: 4rem;
$pad: 0.5 * $header-height;
$h1-margin: 1.2rem;

$break-sm: 576px;
$break-lg: 992px;

$default: #13441d;

$dark: #14471e;
$dark2: #68904d;

$light: #c8d2d1;
$light2: #d8e6df;
$background: #93a3b1;

$accent: #f07400;
$accent2: #fec65d;
$accent-dark: #612f00;
